@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');


a:hover{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Playfair Display', serif;
}
input:focus, textarea:focus, buttom:focus, a:focus{
	outline:none;
}
img{
	max-width: 100%;
	height: auto;
	color: #676767;
	line-height: 1.9;
}
}
body{
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	color: #676767; 
	line-height: 1.9;
}
/* ====Hero Area Start ====*/
.hero-area{background-image: url(../img/01.jpg);}

.hero-area {
    background-size: cover;
    background-position: center;
    background-color: #10b6a7;
    position: relative;
    z-index: 1;
    padding-top: 250px;
    padding-bottom: 175px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

.hero-area:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: '';
    opacity: .9;
    z-index: -1;
}
.hero-area:after{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0fac9f+0,0e742b+100 */
background: #0fac9f; /* Old browsers */
background: -moz-linear-gradient(top, #0fac9f 0%, #0e742b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #0fac9f 0%,#0e742b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #0fac9f 0%,#0e742b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fac9f', endColorstr='#0e742b',GradientType=0 ); /* IE6-9 */
}

.hero-area h2 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 30px;
}

.header-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    padding: 10px 0;
}



.main-menu a {
    color: #fff;
}

.main-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-menu li {
    display: inline-block;
}

.main-menu .btn {
    background-color: #10b6a7;
}

.main-menu  li a {
    padding: 5px;
    display: block;
    margin-left: 10px;
}

.logo h1 {
    margin: 0;
}

.main-menu {
    margin-top: 10px;
}


/* ====Hero Area end ====*/